.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  & path {
    transition: all linear 0.2s;
  }

  &:hover path {
    fill: var(--color-blue);
  }
}
