.todosMenu {
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  color: var(--color-text-light);

  & div {
    flex-grow: 1;
    width: 33%;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
      cursor: pointer;

      transition: all linear 0.2s;

      &:hover {
        color: var(--color-text-primary);
      }
    }
  }
}
