@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  /* Typography */
  --family: 'Josefin Sans', sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
  --fs: 18px;

  /* Other */
  --radii: 5px;
  --bg-checked: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  --color-blue: hsl(220, 98%, 61%);
}

body[data-theme='dark'] {
  --color-bg: hsl(235, 21%, 11%);
  --color-bg-lighter: hsl(235, 24%, 19%);
  --color-divider: hsl(237, 14%, 26%);
  --color-text-primary: hsl(234, 39%, 85%);
  --color-text-disabled: hsl(233, 14%, 35%);
  --color-text-secondary: hsl(233, 11%, 84%);
  --color-text-light: hsl(233, 14%, 35%);

  --shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);

  background-image: url('./assets//bg-desktop-dark.jpg');
}

body[data-theme='light'] {
  --color-bg: hsl(0, 0%, 98%);
  --color-bg-lighter: hsl(0, 0%, 98%);
  --color-divider: hsl(236, 33%, 92%);
  --color-text-primary: hsl(235, 19%, 35%);
  --color-text-disabled: hsl(233, 11%, 84%);
  --color-text-secondary: hsl(235, 16%, 42%);
  --color-text-light: hsl(236, 9%, 61%);

  --shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  background-image: url('./assets//bg-desktop-light.jpg');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--family);
  font-weight: var(--fw-normal);
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  font-size: var(--fs);

  background-repeat: no-repeat;

  min-height: 100vh;

  transition: all linear 0.1s;
}
